*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    font-size: .8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


/*/////////////////////////TEXT FIELD///////////////////////////*/
body { 
	background-image: url(https://images.wallpaperscraft.com/image/gradient_light_dark_background_51893_2560x1600.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
  
}

#textbox{
  	text-align: center;

}

#textbox2{
  	text-align: center;

}
.textfield {
    display:inline-block;
}

.text-field{
    width: 280px;
	height: 400px;
	position: fixed;
	top: 55%;
	left: 33%;
	transform: translate(-60%, -50%);
	
}

.text-field1{
    width: 280px;
	height: 400px;
	position: fixed;
	top: 55%;
	left: 70%;
	transform: translate(-55%, -50%);
	
}



/*/////////////////////// LOW BAR (DOWNLOAD BUTTONS)/////////////////*/


/*Code for the title styling was taken directly from the following website. All credits to it*/
/*https://codepen.io/juanbrujo/pen/yGpAK?editors=1100*/
.text {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 36px;
	padding: 10px 50px;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	color: #2c2c2c;
	background-color: #FEFEFE;
	letter-spacing: .05em;
	text-shadow: 
	4px 4px 0px #d5d5d5, 
	7px 7px 0px rgba(0, 0, 0, 0.2);
}
.lowbar{
    grid-template-columns: repeat(auto-fit,minmax(1000px,1000px));
    grid-gap: 7px;
    padding-left: 40rem;
    padding-right: 50rem;
    position: fixed;
	top: 91%;
	left: 50%;
	transform: translate(-55%, -50%);
	display:inline-block;
}

							/*//////////// DOWNLOAD HEX BUTTON/////////////*/
.bar-items{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	top: 93%;
	left: 33.5%;
	background-color: #7e1111;
	padding-top: .4rem;
	padding-bottom:.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;
	transform: translate(-55%, -50%);
	color: #ffff;
	position: fixed;
}

.bar-items:hover{
    box-shadow: none;
    background-color: #6b5e5e;

}

							/*//////////// DOWNLOAD BIN BUTTON/////////////*/
.bar-items1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	top: 93%;
	left: 79%;
	background-color: #7e1111;
	padding-top: .4rem;
	padding-bottom:.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;
	color: #ffff;
	position: fixed;
	transform: translate(-55%, -50%);
}


.bar-items1:hover{
    box-shadow: none;
    background-color: #6b5e5e;
}



/*////////////////////////////FILE INPUT BUTTON////////////////////////*/
.fileclass {
    background-color: #1D2634;
    grid-gap: 0.5rem;
    padding: 0.5rem;
    padding-bottom: 5rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.inputfile + label {
	position: fixed;
	top: 15%;
	left: 46%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #6b5e5e;
	padding-top: .4rem;
	padding-bottom:.4rem;
	padding-left: .3rem;
	padding-right: .3rem;
	cursor: pointer;
	color: #ffff;
	display: inline-block;
	vertical-align: middle;
}

 .inputfile + label:hover {
     background-color: #7e1111;
  }

  
