*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#textid {
	width: 220px;
	margin: 0 auto;
}

.textfield {
    display:inline-block;
}
.text-field{
    width: 200px;
	height: 300px;
	border: 3px solid #cccccc;
	padding: 5px;
	position: relative;
  	top: 20;
  	left: 30;
  	resize: both;
  	overflow: auto;
	font-family: Tahoma, sans-serif;
	background-color: #FDFDFE;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.toolbar{
    /*display:grid;*/
    grid-template-columns: repeat(auto-fit,minmax(30px,40px));
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    grid-gap: 1rem;
    padding: 1rem;

    /*justify-content: center;*/

    /*align-items:center;*/
}

/*#toolid{
	width: 10px;
	margin: 0 auto;
}*/
.tool-items{
	font-family: "Times New Roman", Times, serif;
	left: 40px;
	background-color: #7e1111;
	padding-top: .4rem;
	padding-bottom:.4rem;
	padding-left: .3rem;
	padding-right: .3rem;
	cursor: pointer;
	color: #ffff;
	display: inline-block;
	position: relative;
	transition: all 0.3s;
	vertical-align: middle;
	left: 110px;


	
}

.tool-items:hover{
    box-shadow: none;
    background-color: #6b5e5e;

}

.file{
	background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: center;

}


.tool-items:hover{
    box-shadow: none;
    background-color: #6b5e5e;

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.inputfile + label {
	left: 40px;
	top: 20px;
	background: white;
	font-family: "Times New Roman", Times, serif;
	background-color: rgb(27, 26, 26);
	padding-top: .4rem;
	padding-bottom:.4rem;
	padding-left: .3rem;
	padding-right: .3rem;
	cursor: pointer;
	color: #ffff;
	display: inline-block;
	position: relative;
	transition: all 0.3s;
	vertical-align: middle;
}

 .inputfile + label:hover {
     background-color: #6b5e5e;
  }