
body {
  font-family: 'Roboto', sans-serif;
}


body.dark-mode {
  background-color: #111;
  color: #111;
}
body.dark-mode a {
  color: #111;
}
body.dark-mode button {
  position: relative;
  background-color: #2b4371;
  border: 1px solid black ;
  border-radius: 4px;
  outline: none;
  color: white;
  text-align: center;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(to bottom,transparent,transparent 
    25%,rgba(0,0,0,.3));
}

body.dark-mode button:hover {
  background-color: #ddd;
}


body.light-mode {
  background-color: #eee;
  color: #111;
}
body.light-mode a {
  color: #111;
}
body.light-mode button {

}

* {
  box-sizing: border-box;
} 

ul.light-mode {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c7d4ef;
}

ul.dark-mode {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #152137;
}

img.emojione {  
 margin: 0px;
 display: inline;
}

span {
  font-size:0.85rem;
}

li {
  float: left;
}

li a.a-light {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2b4371;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

div.visualizer {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:  calc(90vw - 8px);    
  height: calc(35vh - 10px);
  min-width: 260px;
}

/*For UI Scaling*/
div.wrapper{
  padding: 20px;
  resize: both;
  position: relative;
  height: 320px;
}

div.resize-ui{
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

div.toolbar{
  background-image: linear-gradient(-90deg, white, #eee);
  border: 1px solid #ccc;
  border-radius: 2px;
  float: left;
  width: 100%;
  height: 10%;
}

div.toolbarDark{
  background-image: linear-gradient(-90deg, #152137, #404040);
  border: 1px solid #484848;
  border-radius: 2px;
  float: left;
  width: 100%;
  height: 10%;
}

div.romDisplay-container {
  float: left;
  width: 65%;
  padding: 10px;
  background-color: #C7D4F0;
}

div.romDisplayDark {
  float: left;
  width: 65%;
  padding: 10px;
  background-color: #585858;
}

div.regDisplay {
  float: left;
  width: 35%;
  padding: 10px;
  background-color: #7F8BA8;
}

div.regDisplayDark {
  float: left;
  width: 35%;
  padding: 10px;
  background-color: #484848;
}


div.reg-display-wrapper {
  width:  calc(30vw - 20px);    
  height: calc(30vh - 20px);
  resize: none;
  max-height: 324px;
  min-height: 324px;
}
div.log-display-wrapper {
  width:  calc(30vw - 20px); 
  height: calc(30vh - 20px);
  resize: none;
  max-height: 240px;
  min-height: 240px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 5px;
}

div.logDisplay {
  float: left;
  width: 35%;
  padding: 10px;
  background-color:#6D7995;
}

div.logDisplayDark {
  float: left;
  width: 35%;
  padding: 10px;
  background-color:#383838;
}

button.log-button{
  color: black;
  height: 40px;
  min-width: 50px;
  background-color: #fff;
  border: 1px solid;
  padding: 5px;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);

  background-image: linear-gradient(to bottom,transparent,transparent 
    25%,rgba(0,0,0,.1));

}

div.keyDisplay {
  float: left;
  width: 65%;
  padding: 10px;   
  background-color:#B5C1DF; 
}

div.keyDisplayDark {
  float: left;
  width: 65%;
  padding: 10px;   
  background-color:#404040; 
}

div.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button.key-button
{
  font-size: 17px;
  background-color: #fff;
}

div.controlDisplay
{
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 100%;
  padding: 10px;
  margin-left: 8px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #7F8BA8;
  min-width: 230px;
}

div.controlDisplayDark
{
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 100%;
  padding: 10px;
  margin-left: 8px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #152137;
  min-width: 230px;
}

div.info-wrapper {
  text-align: center;
  padding-top: 35%;
  padding-bottom: 25%;
  font-family: "Arial", Helvetica, sans-serif;
  color: #fff;
  min-width: 200px;
}


/* Clear floats after the columns */
div.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Tool bar buttons formatting and working Load ROM button*/
div.toolbar-button-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

button.toolbar-button {
  color: black;
  height: 20px;
  background-color: #fff;
  border: 1px solid;
  padding: 2px;
  background-image: linear-gradient(to bottom,transparent,transparent 
    25%,rgba(0,0,0,.1));
}


.toolbar-button-wrapper input[type=file]{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


button {
  position: relative;
  background-color: #C7D4F0;
  border: 1px solid ;
  border-radius: 4px;
  padding: 4px 4px;
  outline: none;
  color: black;
  height : 60px;
  min-width : 60px;
  text-align: center;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(to bottom,transparent,transparent 
    25%,rgba(0,0,0,.15));
}

body.light-mode button:hover {
  background-color: #eee;
}

body.light-mode button:active{
  background-color: #eee;
}

body.light-mode button:after {
  content: "";
  background: #ccc;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s
}

body.light-mode button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

table.instrTable {
  float: left;
  position: relative;
  border: 1px solid #1C6EA4;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  width:  calc(15vw - 10px);    
  height: calc(35vh - 20px);
  resize: none;
  max-height: 300px;
  min-height: 300px;

}

table.instrTableDark {
  float: left;
  position: relative;
  border: 1px solid #1C6EA4;
  background-color: #152137;
  color : white;
  text-align: left;
  border-collapse: collapse;
  width:  calc(15vw - 10px);    
  height: calc(35vh - 20px);
  resize: none;
  max-height: 300px;
  min-height: 300px;

}

table.instrTable td, table.instrTable th {
  border: 1px solid #AAAAAA;
  padding: 2%;
  min-width: 75px;
}

table.instrTable tbody td {
  font-size: 12px;
}

table.regTable {
  float: left;
  position: relative;
  border: 1px solid #1C6EA4;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  width:  calc(30vw - 20px);    
  height: calc(50vh - 30px);
  resize: none;
  max-height: 324px;
  min-height: 324px;
}


table.regTableDark {
  float: left;
  position: relative;
  border: 1px solid #1C6EA4;
  background-color: #152137;
  color: white;
  text-align: left;
  border-collapse: collapse;
  width:  calc(30vw - 20px);    
  height: calc(50vh - 30px);
  resize: none;
  max-height: 324px;
  min-height: 324px;
}


table.regTable td, table.regTable th {
  border: 1px solid #AAAAAA;
  padding: 7.5px 2px;
  min-width: 75px;
}

table.regTable tbody td {
  font-size: 13px;
}